html, body{
    height: 100%;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
	-ms-user-select: none;
  	user-select: none;
	cursor: default;
}

/* ### GENERIC STUFF ### */
.almost-vertical-fill {
	height: 98%;
}
.full-width {
	width: 100%;
}

/* ### FLEXBOX STUFF ### */
.row-flex-container {
	display: flex;
}
.col-flex-container {
	display: flex;
	flex-direction: column;
}
.flex-align-center{
	align-items: center;
}
.flex-justify-center {
	justify-content: center;
}
.extend-main-axis {
	flex: 1;
}
.flex-space-around{
	justify-content: space-around;
}

/* ### SPECIFIC STUFF ### */
#title-row {
	height: 10%;
}

/* --- left music filter --- */
#main-left-col{
	border: 1px solid black;
	width: 20%;
}

/* --- music list (center) */
#main-center-col{
	width: 50%;
	height: 92%;
	width: 50%;
}
#search-box {
	height: 15%;
	background-color: red;
}
#music-list-div {
	height: 85%;
	background-color: yellow;
}
#music-list-header{
	/*border-bottom: 1px solid gray;*/
	background-color: aliceblue;
	height: 11%;
}
#music-list-body{
	height: 90%;
	overflow-y: auto;
}
#music-list-body ul{
	list-style:none;
  padding-left:0;
}
#music-list-body li{
	display: flex;
	justify-content: space-around;
	min-height: 40px;
}
.music-left{
	width: 35%;
}
.music-center-left{
	width: 35%;
}
.music-center-right{
	width: 20%;
}
.music-right{
	width: 10%;
}
.row-flex-container h4{
	margin: auto
}

/* right sidebar (votes) */
#main-right-col{
	background-color: green;
	width: 30%;
}
#votes-left{
	background-color: coral;
	flex: 1;
}
#votes-left h3{
	margin: auto;
}
#client-votes-list{
	background-color: aqua;
	flex: 7;
}

/** Sorting Arrows**/
.sort.asc h4:after {
  float: right;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black; /* arrow color*/
  content: "";
  position: relative;
  right: -15px;
}

.sort.desc h4:after {
  float: right;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black; /* arrow color*/
  content: "";
  position: relative;
  right: -15px;
  top: -10px;
}

.sort h4:after {
  float: right;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent; /* arrow color*/
  content: "";
  position: relative;
  right: -15px;
}
