html, body{
    height: 100%;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
	-ms-user-select: none;
  	user-select: none;	
	cursor: default;
}
.jumbotron{
	background-color: #ffffff;
}

/* ----------- horizontal aligment ---------- */
.center-horiz-div{
	width: fit-content;
    margin: 0 auto;
}
.text-horiz-align{
	text-align: center;
}

/* ----------- vertical alignement ----------- */
.outer-vertically-align{
    display: flex;
    justify-content: center;
}
.inner-vertically-align{
    align-self: center;
}

/* ----------- relative vertical fills ----------- */
.vertical-fill{
    height: 100%;
}
.almost-vertical-fill{
    height: 95%;
}
.three-quarters-vertical-fill{
	height: 75%;
}
.small-height{
    height: 10%;
}

/* ----------- blocks ----------- */
.inline{
	display: inline-block;
}
/* ----------- Menus -----------*/
.side-bar{
    margin-top: 10px;
    padding-left: 10px;
    border: 1px solid black; 
    border-radius: 25px;
}
.on-hover{
	cursor: pointer;
}
.item-highlight{
	border-color: darkgoldenrod;
  	border-width: 5px;
  	border-style: solid;
	border-radius: 15px;
}
.hidden_border{
	border-color: white;
  	border-width: 5px;
  	border-style: solid;
	border-radius: 10px;
}
.hidden{
	visibility: hidden;
}
.small-margin{
	margin-top: 6px; 
}
.small-padding{
	padding: 2px; 
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.small-btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 4px 0;
  font-size: 8px;
  line-height: 1;
  border-radius: 10px;
}


/* ----------- initial options ----------- */
#bar_menu{
    background:url(../img/menu_logo.png) no-repeat center center;
    background-size: contain;
	height:200px;
	width:200px;
	border:1px solid black;
}
#music_option{
    background:url(../img/music_logo.jpg) no-repeat center center;
    background-size: contain;
	height:200px;
	width:200px;
	border:1px solid black;
}

/* ----------- bar menu options ----------- */
#food_menu{
    background:url(../img/food_menu_logo.jpeg) no-repeat center center;
    background-size: contain;
	height:200px;
	width:200px;
	border:1px solid black;
}
#drinks_menu{
    background:url(../img/drinks_menu_logo.jpeg) no-repeat center center;
    background-size: contain;
	height:200px;
	width:200px;
	border:1px solid black;
}

/* ----------- order table ------------ */
.table {
    table-layout: fixed;
    word-wrap: break-word;
}

