html, body{
    height: 100%;
}
.jumbotron{
	background-color: #ffffff;
}

/* horizontal aligment */
.center-horiz-div{
	width: fit-content;
    margin: 0 auto;
}
.text-horiz-align{
	text-align: center;
}

/* vertical alignement */
.outer-vertically-align{
    display: flex;
    justify-content: center;
}
.inner-vertically-align{
    align-self: center;
}

/* relative vertical fills */
.vertical-fill{
    height: 100%;
}
.almost-vertical-fill{
    height: 95%;
}
.three-quarters-vertical-fill{
	height: 75%;
}
.small-height{
    height: 10%;
}

/* blocks */
.inline{
	display: inline-block;
}

/* Menus */
.on-hover{
	cursor: pointer;
}

/* home screen */
#bar_menu{
    background:url(../img/menu_logo.png) no-repeat center center;
    background-size: contain;
	height:200px;
	width:200px;
	border:1px solid black;
}
#music_option{
    background:url(../img/music_logo.jpg) no-repeat center center;
    background-size: contain;
	height:200px;
	width:200px;
	border:1px solid black;
}

/* bar menu screen */
#food_menu{
    background:url(../img/food_menu_logo.jpeg) no-repeat center center;
    background-size: contain;
	height:200px;
	width:200px;
	border:1px solid black;
}
#drinks_menu{
    background:url(../img/drinks_menu_logo.jpeg) no-repeat center center;
    background-size: contain;
	height:200px;
	width:200px;
	border:1px solid black;
}

/* food menu*/
.side-bar{
    margin-top: 10px;
    padding-left: 10px;
    border: 1px solid black; 
    border-radius: 25px;
}  
