body{
  overflow: hidden;
}

#table{
  background: url("../img/table.jpg");
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 90%;
  height: 100%;
  margin: 0;
}

#topButton{
  top: 20px; left: 45%;
  transform: rotate(180deg);
}

#bottomButton{
  bottom: 20px; left: 45%;
}

#leftButton{
  top: 50%; left: 20px;
  transform: rotate(90deg);
}

#rightButton{
  top: 50%; right: 20px;
  transform: rotate(-90deg);
}

.newWindowButton{
  position: absolute;
  border: 10px white solid;
}

.fingerprintImg{
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.window{
  position: absolute;
  display: inline-block;
  margin: 0 auto;
}

.windowHandle{
  background-color: grey;
}

iframe{
  border: 0;
  width: 550px;
  height: 420px;
  overflow: hidden;
}
